* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}
:root {
    --first-color: #a3a3a3;
    --second-color: #fdfdfd;
    --background-color-nav: rgba(0,0,0,255);
    --background-color-container-right: rgba(20,25,34,255);
    --background-color-footer: rgba(40,40,40,255);
    --nav-width-normal: 230px; 
    --footer-height-normal: 80px;
}
/* GENERAL-CLASSES */
.float-left {
    float: left;
}
.clear-fix::after {
    content: "";
    display: table;
    clear: both;
}
/* /GENERAL-CLASSES */
/* MAIN */
main {
    width: 100%;
    height: calc(100vh - var(--footer-height-normal));
    overflow: hidden;
}
/* NAV */
main nav {
    width: var(--nav-width-normal);
    height: 100%;
    padding: 0 1%;
    background-color: var(--background-color-nav);
    flex-direction: column;
}
/* LOGO */
.logo img {
    width: 65%;
    padding-top: 7%;
    padding-bottom: 10%;
}
/* MENU */
nav ul.menu-nav {
    list-style: none;
}
.menu-nav a {
    text-decoration: none;
}
.menu-nav span {
    color: var(--first-color);
    font-weight: 500;
}
.menu-nav img {
    width: 10%;
    vertical-align: middle;
    filter: opacity(60%);
}
/* PLAYLIST */
nav .playlist {
    margin-top: 1.5em;
}
.playlist h2 {
    color: var(--second-color);
    font-size: 1em;
    text-transform: uppercase;
}
.playlist button {
    background-color: transparent;
    border: none;
}
.playlist i {
    font-size: 1em;
    font-weight: bolder;
    margin: 0.5em 0.3em 0.5em 0;
    padding: 0.3em;
    background-color: var(--first-color);
    border-radius: 1px;
    cursor: pointer;
}
.playlist span {
    color: var(--first-color);
    font-weight: 500;
}
ul.list-playlist {
    list-style: none;
    overflow: auto;
}
.list-playlist a {
    color: var(--first-color);
    text-decoration: none;
}
.list-playlist li {
    line-height: 2.5em;
}
/* APP-INSTALLATION */
nav .app-installation {
    width: 100%;
    height: 10%;
    background-color: chartreuse;
}
/* /NAV */
/* CONTAINER-RIGHT */
main .container-right {
    width: calc(100% - var(--nav-width-normal));
    height: 100%;
    background-color: var(--background-color-container-right);
    overflow: auto;
}
/* /CONTAINER-RIGHT */
/* /MAIN */
/* FOOTER */
footer {
    width: 100%;
    min-height: var(--footer-height-normal);
    background-color: var(--background-color-footer);
}
/* /FOOTER */